# Prevent uploading the entire production json
settings.json

# Prevent uploading venv
.venv

# Prevent uploading logs
logs/

# Prevent uploading bot logs
*.log

# Prevent uploading IDE stuff
__pycache__
.idea

